<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>論文チェックシート</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- CSSファイルをリンク -->
    <script>
        function validateFile() {
            var fileInput = document.getElementById('file');
            var filePath = fileInput.value;
            var allowedExtensions = /(\.txt|\.tex)$/i;
            // ファイルが選択されているかチェック
            if(fileInput.files.length === 0) {
                alert('ファイルが選択されていません。');
                return false;
            }
            // ファイルの拡張子が.txtまたは.texかチェック
            if(!allowedExtensions.exec(filePath)) {
                alert('拡張子が.txtまたは.texのファイルをアップロードしてください。');
                fileInput.value = ''; // ファイル選択をリセット
                return false;
            } else {
                // 拡張子が正しい場合は、フォームを送信
                return true;
            }
        }
    </script>
    <h3>論文チェックシート</h3>
</head>
<body>
    <h1>チェックするファイルをアップロードしてください</h1>
    <form id="uploadForm" method="post" enctype="multipart/form-data" onsubmit="return validateFile();">
        <input type="file" name="file" id="file">
        <input type="submit" value="アップロード">
    </form>
    <h1>チェック項目</h1>
    ・「です・ます」調ではなく「だ・である」調になっているか？ (①-1)<br>
    ・文章中の句読点は全角の「，」「。」「．」に統一されているか? (①-2)<br>
    ・1文の長さが長すぎないか？（100文字以上）(①-3)<br>
    ・体言止めは使われていないか？ (①-4)<br>
    ・半角カタカナは使われていないか？ (①-5)<br>
    ・全角アルファベットは使われていないか？ (①-6)<br>
    ・日本語の引用符は「」を使っているか？ (①-7)<br>
    ・括弧やカンマなどを使う際，日本語であれば全角，英語であれば半角に統一されているか？ (①-8)<br>
    ・英語の引用符はバッククォーテーション(‘)2つとシングルクォーテーション(’)2つを使っているか？ (①-9)<br>
    ・英語を使う際は括弧と，括弧の外側の単語の間に半角スペースは入っているか？ (①-11)<br>
    ・英語を使う際はカンマの後に半角スペースが入っているか？ (①-12)<br>
    ・LaTeXのソースファイル内では1文毎に改行しているか？ (①-16)<br>
    ・参考文献の書き方は適切か？ (⑧-3)<br>
    ・4桁以上の数字は3桁ごとのカンマで区切られているか？<br>
</body>
</html>
